@import '../../../common/styles/mixins';

.container {
  @include flex(column, center, center, nowrap);
  width: 50%;
  .imageBlock {
    position: relative;
    .status {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #7bfd91;
    }
  }
}