@import '../../../common/styles/mixins';

.container {
  @include flex(column, center, center, nowrap);
  width: 50%;
  .imageBlock {
    position: relative;
    .image {
      border-radius: 30px;
      border: 3px solid #5054f5;
      box-shadow: 5px 5px 7px #9a9df8;
    }
    .status {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #7bfd91;
      border-radius: 15px;
      margin: 10px;
      padding: 5px 10px;
    }
  }
}