.container {
  .header {
    background-color: #f3c3dc;
    height: 70px;
  }
  .content {
    background-color: #cff3dc;
    min-height: 100vh;
  }
  .footer {
    background-color: #f3e8c3;
    height: 250px;
  }
}