@import './src/common/styles/mixins';
@import './src/common/styles/variables';

.container {
  .header {
    background-color: $bgSecondColor;
    height: 8vh;
    position: sticky;
    top: 0;
    z-index: 1;
    @include text($titleFontFamily, 30px, 1.2, 700);
  }
  .contentContainer {
    @include flex(row, center, flex-start, nowrap);
    background-color: $bgColor;
    min-height: 80vh;
    .filter {
      width: 25%;
    }
    .content {
      background-color: $primaryColor;
      width: 75%;
      min-height: 80vh;
    }
  }
  .footer {
    background-color: $bgSecondColor;
    height: 12vh;
  }
}